 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<div class="container container-1">
  <div class="v-t">
    <div class="v-tc">

      <h1>Happy Valentine's<br><span>Bee Mine</span></h1>

      <div class="bee">
        <div class="antennae"></div>  
        <div class="wing one"></div>
        <div class="wing two"></div>
      </div>
      <div class="shadow"></div>

       <h2>
         for Christine <br />
         from Anthony
      </h2>
    </div>
  </div>
</div>

<div class="container-2">
  
</div>
<div class="background-gradient"></div>